@charset "UTF-8";
.pageHome .navbar{
  margin-bottom: 55px;
}
.pageHome .main .container{
  margin-top: 15px;
}
.pageHome .main .container>div{
  background: #fff;
  padding: 15px;
}
.pageHome .main .container>div strong{
  display: block;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  font-size: 14px;
}
.pageHome .main .container>div table{
  font-size: 12px;
  width: 100%;
  margin-bottom: 20px;
}
.pageHome .main .container>div table td{
  padding: 10px 0;
}
.pageHome .main .container>div table td.col2{
  text-align: right;
  padding-right: 10px;
}
.pageHome .main .container>div table td input{
  width: 60%;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
}
.pageHome .main .container>div table td label{
  line-height: 30px;
}
.pageHome .main .container>div table td a{
  color: #307ed3;
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width: 1199px) {
  .pageHome .col-xs-12{
    width: 100%;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  /* .pageHome {
    padding-top: 126px;
  } */
  .pageHome .navbar{
    margin-bottom: 0;
  }
  .pageHome .main .container{
    padding: 0px;
    margin-top: 30px;
  }
  .pageHome .main .container>div{
    padding: 50px;
  }
  .pageHome .main .container>div strong{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .pageHome .main .container>div table{
    font-size: 14px;
    margin-bottom: 40px;
  }
  .pageHome .main .container>div table td.col1{
    width: 20%;
  }
  .pageHome .main .container>div table td.col2{
    width: 30%;
    text-align: left;
  }
  .pageHome .main .container>div table td .radio-inline input{
    height: 20px;
    line-height: 0px;
    display: inline-block;
  }
  .pageHome .main .container>div table td .radio-inline .text{
    margin-left: 15px;
    display: inline-block;
  }
  .pageHome .main .container>div table td input{
    height: 42px;
    line-height: 40px;
  }
  .pageHome .main .container>div table td a{
    font-size: 15px;
  }
}