@charset "UTF-8";
.pageLogin.container{
  height: 100vh;
  background: url(../img/m/login/img_01.png) no-repeat 50% 0;
  background-size: 100% 100%;
  overflow: auto;
}
.pageLogin .form-signin {
  margin: 0 auto;
  text-align: center;
  padding: 0 5px;
}
.pageLogin .form-signin .form-signin-heading{
  margin: 0px;
  padding: 100px 0;
}
.pageLogin .form-signin .form-signin-heading img{
  width: 70%;
}
.pageLogin .form-signin .form-signin-body .item{
  position: relative;
}
.pageLogin .form-signin .form-signin-body .item .icon{
  position: absolute;
  left: 10px;
  top: 8px;
}
.pageLogin .form-signin .form-signin-body .item .icon-r{
  position: absolute;
  left: auto!important;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.pageLogin .form-signin .form-signin-body .item .code{
  position: absolute;
  right: 0px;
  bottom: 8px;
  padding-left: 5px;
  background: #fff;
  cursor:pointer;
  height: 28px;
  margin-bottom: 10px;
}
.pageLogin .form-signin .form-signin-body .item .code img{
  height: 100%;
}
.pageLogin .form-signin input[type="text"],
.pageLogin .form-signin input[type="password"] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  background: none;
  padding-left: 38px;
}
.pageLogin .form-signin button{
  width: 100%;
  background: #fff;
  border-color: #0d71d1;
  color: #0d71d1;
  height: 36px;
  line-height: 36px;
  padding: 0px;
}
.pageLogin .form-signin .reg{
  text-align: right;
  font-size: 14px;
  padding: 10px 0 15px 0;
}
.pageLogin .form-signin .reg a{
  color: #0d71d1;
}
.pageLogin .form-signin .other{
  color: #a1a1a1;
  padding: 35px 0 18px 0;
  border-bottom: 1px solid #e6e6e6;
}
.pageLogin .form-signin .wx{
  height: 22px;
  margin-bottom: 30px;
}
.pageLogin .form-signin .wx img{
  height: 100%;
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .pageLogin.container{
    width: 100%;
    display:table;
    margin: 0px;
    padding: 0px;
    background: url(../img/pc/login/img_01.png) no-repeat 50% 0;
    background-size: 100% 100%;
  }
  .pageLogin .form-signin {
    width: 493px;
    height: 474px;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .pageLogin .form-signin .form-signin-heading{
    padding: 0px;
    margin-bottom: 50px;
  }
  .pageLogin .form-signin .logo_pc{
    position: absolute;
    left: 50px;
    top: 50px;
  }
  .pageLogin .form-signin .logo_pc img{
    width: auto!important;
  }
  .pageLogin .form-signin .form-signin-heading strong{
    font-size: 33px;
    color: #fff;
    font-weight: 200;
  }
  .pageLogin .form-signin .form-signin-body{
    background: #fff;
    padding: 50px 57px 40px 57px;
    border-radius: 10px;
  }
  .pageLogin .form-signin .form-signin-body .item .code{
    height: auto;
    margin-bottom: 0;
  }
  .pageLogin .form-signin .form-signin-body .item .icon{
    left: 10px;
    top: 13px;
  }
  .pageLogin .form-signin .form-signin-body .item .icon-r{
    top: 13px;
    right: 10px;
  }
  .pageLogin .form-signin input[type="text"],
  .pageLogin .form-signin input[type="password"] {
    height: 48px;
    line-height: 48px;
  }
  .pageLogin .form-signin button{
    height: 52px;
    line-height: 52px;
    font-size: 15px;
    margin-top: 28px;
  }
  .pageLogin .form-signin .other{
    color: #a1a1a1;
    padding: 35px 0 18px 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
  }
  .pageLogin .form-signin .reg{
    width: 142px;
    height: 52px;
    line-height: 52px;
    position: absolute;
    right: 50px;
    top: 50px;
  }
  .pageLogin .form-signin .reg a{
    display: block;
    border: 1px solid #fff;
    color: #fff!important;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }
  .pageLogin .form-signin .wx{
    height: auto;
  }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  
}