@charset "UTF-8";
.pageUpload .main .container{
  padding: 0px;
}
.pageUpload .main .title-info{
  background: #f1f1f1;
  text-align: center;
  padding: 20px 15px;
}
.pageUpload .main .title-info h1{
  font-size: 18px;
  font-weight: 600;
}
.pageUpload .main .title-info h3{
  font-size: 14px;
}
.pageUpload .main .title-info h4{
  font-size: 14px;
}
.pageUpload .main .upload{
  padding: 25px 0;
  background: #fff;
  text-align: center;
}
.pageUpload .main .upload .row{
  padding: 0px 15px;
  margin: 0px;
}
.pageUpload .main .upload .row li{
  list-style: none;
  padding: 0px;
}
.pageUpload .main .upload .row .img{
  height: 200px;
  background: #f0f0f0;
  position: relative;
}
.pageUpload .main .upload .row .img .wrap{
  height: 200px;
  overflow: auto;
  text-align: center;
}
.pageUpload .main .upload .row img{
  max-width: 100%;
}
.pageUpload .main .upload .row .del{
  width: 22px;
  height: 22px;
  background: #d44645;
  border-radius: 100%;
  position: absolute;
  right: -8px;
  top: -8px;
  color: #fff;
  font-family: '宋体';
  font-style: normal;
  text-align: center;
  line-height: 19px;
  cursor: pointer;
  vertical-align: middle;
}
.pageUpload .main .upload .row .del img{
  max-width: 100%;
  max-height: 100%;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
.pageUpload .main .upload .row>li>p{
  padding: 20px 0;
  text-align: left;
  font-size: 14px;
}
.pageUpload .main .upload .row>li>p input{
  width: 40%;
  height: 35px;
  line-height: 35px;
  border:1px solid #ccc;
  border-radius: 3px;
  padding: 0 10px;
}
.pageUpload .main .upload .row>li.add div{
  height: 200px;
  line-height: 200px;
  border: 1px dashed #ccc;
  background: #f0f0f0;
  font-size: 16px;
}
.pageUpload .main .upload .text{
  text-align: left;
  font-size: 12px;
  padding: 10px 15px;
}
.pageUpload .main .upload strong{
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
}
.pageUpload .main .upload .btns{
  padding: 0 15px;
}
.pageUpload .main .upload .btn{
  display: block;
  margin-bottom: 15px;
  border-radius: 3px;
  font-size: 14px;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width: 1199px) {
  .pageUpload .col-xs-12{
    width: 100%;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .pageUpload{
    padding-top: 126px;
  }
  .pageUpload .main .title-info{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,239,241,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(239,239,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efeff1',GradientType=0 ); /* IE6-9 */
  }
  .pageUpload .main .title-info h1{
    font-size: 28px;
  }
  .pageUpload .main .title-info h3{
    font-size: 20px;
  }
  .pageUpload .main .title-info h4{
    font-size: 20px;
  }
  .pageUpload .main .upload .row{
    padding: 0 125px;
  }
  .pageUpload .main .upload .row li{
    padding: 0 34px;
  }
  .pageUpload .main .upload .row .img{
    height: 293px;
    background: #f0f0f0;
    position: relative;
  }
  .pageUpload .main .upload .row .del{
    width: 45px;
    height: 45px;
    line-height: 45px;
    right: -20px;
    top: -20px;
  }
  .pageUpload .main .upload .row .del img{
    width: auto;
    height: auto;
  }
  .pageUpload .main .upload .row>li.add div{
    height: 293px;
    line-height: 293px;
    cursor: pointer;
  }
  .pageUpload .main .upload .row .img .wrap{
    height: 293px;
    line-height: 293px;
    overflow: hidden;
    text-align: center;
  }
  .pageUpload .main .upload .row .img img{
    max-width: 100%;
    max-height: 100%;
  }
  .pageUpload .main .upload .text{
    text-align: center;
    font-size: 14px;
  }
  .pageUpload .main .upload .text1{
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
  }
  .pageUpload .main .upload .row>li>p{
    font-size: 14px;
  }
  .pageUpload .main .upload .row>li>p input{
    width: 87px;
    height: 42px;
    line-height: 42px;
  }
  .pageUpload .main .upload strong{
    font-size: 20px;
    margin-bottom: 35px;
  }
  .pageUpload .main .upload .btns{
    max-width: 390px;
    margin: 0 auto;
  }
}